
    <div class="action" onclick="actionToggle();">
        <span>+</span>
        <ul>
            <li><a href="/"><i class="fas fa-users"></i>Feed Back Form</a></li>
            <li><a href="/"><i class="fas fa-sticky-note"></i>Devlopers</a></li>
        </ul>
    </div>

    <script src="/app.js"></script>

</body>

</html>