
    <div class="action" onclick="actionToggle();">
        <span>+</span>
        <ul>
<<<<<<< HEAD
            <li><a href="/"><i class="fas fa-users"></i>Feed Back Form</a></li>
            <li><a href="/"><i class="fas fa-sticky-note"></i>Devlopers</a></li>
=======
            <li onclick="location.href='/form'"">Feed Back Form &nbsp;<i class="fas fa-users"></i></li>
            <li>Devlopers&nbsp;<i class="fas fa-sticky-note"></i></li>
>>>>>>> upstream/main
        </ul>
    </div>

    <script src="/app.js"></script>

</body>

</html>