<%- include ('partials/header'); -%>

<link rel="stylesheet" href="/dev.css">

<title>Document</title>
</head>

<body>
    <h1>Devlopers</h1>
    <div class="row">
        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 con-1 content">
            <h2>Bharat Kumar Khatri</h2>
           <p> Currently Studying at KNIT Sultanpur. <br> Some experience in Web devlopment , App devlopment . <br> Also have knowledge in C++ ,Python and Java </p>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 image">
            <img src="/images/mai hu chutiya.jpg" alt="">
        </div>
        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 con-2 content">
            <h2>Bharat Kumar Khatri</h2>
           <p> Currently Studying at KNIT Sultanpur. <br> Some experience in Web devlopment , App devlopment . <br> Also have knowledge in C++ ,Python and Java </p>
        </div>
    </div>
    <div class="row">
        
        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 con-1 content">
            <h2>Kaustubh Rai</h2>
           <p>  Currently Studying at KNIT Sultanpur Information Technology Branch. <br> Some experience in Web devlopment , App devlopment ,Game devlopment. <br> Also have knowledge in C++ and Python.  </p>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 image kush">
            <img height="20vh" src="/images/don.jpg" alt="">
        </div>
        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 con-2 content">
            <h2>Kaustubh Rai</h2>
           <p>  Currently Studying at KNIT Sultanpur Information Technology Branch. <br> Some experience in Web devlopment , App devlopment ,Game devlopment. <br> Also have knowledge in C++ and Python.</p>
        </div>
   
       
    </div>

</body>

</html>


