<%- include ('partials/header'); -%>



<title>Document</title>

<style>
    body {
        background: rgb(225, 225, 225);
        background: linear-gradient(126deg, rgba(225, 225, 225, 1) 42%, rgba(242, 242, 242, 1) 71%);
        height: 100vh;
        padding: 0% 5%;
    }

    .eror {
        height: inherit;
        width: 100%;
        margin: auto;
    }

    @media (max-width: 500px){
        .eror{
            width: 100%;
            
        }
    }
</style>

</head>

<body>


    <div class="eror">
        <img height="100%" width="100%" src="/images/eror.jpg" alt="">
    </div>


    <%- include ('partials/footer'); -%>