<%- include ('partials/header'); -%>

<div class="row">
    <% for(var i=0 ; i<=10 ; i++ ) { %>
    <div class="col-xl-6 col-12">
        <div class="card" style="width: 18rem;">
            <img src="images/man-programmer-working-computer-with-code-screen-illustration_87749-275.jpg"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">It students</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <% } %>
</div>


<%- include ('partials/footer'); -%>





















<!-- 
<div class="col-xl-6 col-12">
            <div class="card" style="width: 18rem;">
                <img src="images/man-programmer-working-computer-with-code-screen-illustration_87749-275.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div> -->