<%- include ('partials/header'); -%>

    <!-- Css -->
    <link rel="stylesheet" href="../styles.css">

    <title>Study</title>
</head>

<body>
    <section class="upper">
        <div class="row">
            <div class="show1 col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <video class="image" src="../images/Presentation1.mp4" width="100%" height="100%" loop autoplay muted></video>
            </div>
            <div class="show1 col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="row">
                    <div class="show2 text col-12">
                        <h1>A Step Towards Change</h1>
                    </div>
                    <div class="show2 link col-12">
                        <a href="/notes"><button type="button" class="btn btn-info"><i class="fas fa-bookmark"></i>Notes</button></a>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="lower">
        <div class="fluid-container">
            <footer class="pt-4 my-md-5 pt-md-5 border-top">
                <div class="row">
                    <div class="col-12 cntct">
                        <i onclick="location.href='/'" class="fab fa-instagram fa-2x ic"></i>
                        <i onclick="location.href='https://www.facebook.com/groups/33311002137'" class="fab fa-facebook fa-2x ic"></i>
                        <i onclick="location.href='https://www.linkedin.com/in/bhaarat-kumar-khatri-76354118b/'" class="fab fa-linkedin-in fa-2x ic"></i>
                        <i onclick="location.href='www.google.com'" class="fas fa-envelope fa-2x ic"></i>
                    </div>
                    <div class="col-12 cntct">
                        © WebStartup 2020-2021
                    </div>
                </div>
            </footer>
        </div>
    </section>

<%- include ('partials/footer'); -%>