<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">

    <title>Study</title>
</head>
<body>
    <section class="upper">
        <div class="left-up">
            <div class="text">
                <h1>A Step Towards Change</h1>
                <a href="/notes"><button class="button" >Notes</button></a>
            </div>
            
        </div>
        <div class="right-up">
            <img src="images/boy-studying-with-book_113065-238.jpg" alt="boy">
        </div>
    </section>
    <section class="lower">

    </section>

    <script src="index.js"></script>
</body>
</html>